.places__paragraph {
font-family: inter, Arial, sans-serif;
color: #ffffff;
font-weight: 400;
font-size: 18px;
line-height: 29px;
max-width: 100%;
text-align: left;
font-style: normal;
margin: 0;
padding-bottom: 26px;
}

.places__paragraph:last-child {
  padding-bottom: 0;
}


@media (max-width: 890px) {
  .places__paragraph {
  font-size: 16px;
  line-height: 26px;

  }

  }

  @media (max-width: 425px) {
    .places__paragraph {
      padding-left: 16px;
      padding-right: 16px;
    }
  }




