.places__image {
  grid-area: image;
  max-width: 100%;
  min-width: 320px;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .places__image {
    grid-template-areas: "title"
    "website"
    "image"
    "paragraphs";

    row-gap: 32px;
    max-width: 100%;
  }
}
