.places__link {
font-family: inter, Arial, sans-serif;
color: #ffffff;
font-weight: normal;
font-size: 18px;
line-height: 22px;
max-width: 484px;
text-align: left;
font-style: normal;
text-decoration: underline;
}

.places__link:hover {
  opacity: 0.8;
}

