.intro__text {
font-family: inter, Arial, sans-serif;
color: #ffffff;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: left;
margin: 0;
padding: 40px 0 33px;
max-width: 690px;
}

@media (max-width: 1000px) {
  .intro__text {

    padding-left: 24px;
  }
}

@media (max-width: 768px) {
  .intro__text {
    max-width: 720px;
    padding-left: 24px;
  }
}


@media (max-width: 425px) {
  .intro__text {
    padding-left: 16px;
    padding-right: 16px;
  }
}


