.intro {
  padding: 92px 48px 0;
  max-width: 984px;
  margin: 0 auto 0;
  padding-bottom: 0;

}

@media (max-width:768px) {
  .intro {
    padding: 88px 0 0;
  }
}

@media (max-width:425px) {
  .intro {
    padding-top: 64px;
  }
}





