@import url('./__copyright/footer__copyright.css');
@import url('./__link/footer__link.css');
@import url('./__links/footer__links.css');

.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px;
  margin: 0 auto 0;
}

@media (max-width: 630px) {
  .footer {
    flex-direction: column;
    padding: 64px 0 24px;
    min-height: 200px;

  }
}
